body {
    margin: 0;
    display: block;
    height: 100%;
    background-image: linear-gradient(to right, #962365, #867396);
    font-family: 'Saira Semi Condensed', sans-serif;
}
img {
    height: 50px;
    padding-top: 3%;
    width: 50px;

}


.main {
    background-color: white;
    border-radius: 4%;
    text-align: center;
    width: 90%;
    max-width: 400px;
    height: 310px;
    justify-content: center;
    align-items: center;
    margin: 9% auto 0px auto;
}

footer {
    font-size: 15px;
    color: #AF98C4;
    width: 94%;
    max-width: 420px;
    margin:  3% auto ;
    text-align: center;
}

#first {
    background-color: #FE3989;
    border-radius: 4px;
    border: none;
    width: 88%;
    height: 36px;
    margin-top: 5%;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

header{
    font-weight: bolder;
    padding-bottom: 3%;
}

input {
    background-color: #EBF0F3;
    border-radius: 1%;
    border-color: #FFFFFF;
    border: none;
    border-radius: 4px;
    height: 36px;
    width: 81%;
    text-align: center;

}

form {
    color: #7E828D;
    display: block;
    font-size: 15px;
    text-align: left;
    margin-left: 5%;
    width: 110%;
    line-height: 1.5;
}

