body {
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, #962365, #867396);
}

.main {
    background-color: white;
    border-radius: 4%;
    text-align: center;
    width: 35%;
    justify-content: center;
    align-items: center;
}

footer 